* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background: linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
}

/* style for navbar */
header {
    width: 1440px;
    margin: 0 auto;
}

.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 62px;
    height: 62px;
}

.logo span {
    font-size: 32px;
    font-weight: bold;
}

nav a {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin: 20px;
}

.navmenu {
    display: none;
}

.marquee {
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 25s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* colors and buttons */
.skyblue {
    color: skyblue;
}

.orange {
    color: orange;
}

.contact-btn {
    height: 50px;
    width: 197px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    background-color: orange;
    border-radius: 12px;
    border: none;
}

.contact-btn:hover {
    background-color: darkorange;
}

.btn {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    height: 50px;
    width: 197px;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.562);
}

/* hero section */
main {
    width: 1140px;
    margin: 0 auto;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.hero-title h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 61px;
    margin-bottom: 24px;
}

.hero-title p {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: rgb(17, 17, 17);
    margin-bottom: 24px;
}

/* Curriculum cards */
.curriculum {
    background-image: url("../assets/bg.png");
    margin: 60px 0;
}

h2 {
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    line-height: 57.5px;
}

.cards {
    display: flex;
    gap: 28px;
    margin: 80px 0;
}

.card {
    padding: 55px 40px;
    text-align: center;
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.card h3 {
    color: rgb(32, 32, 32);
    font-size: 24.52px;
    font-weight: 700;
    line-height: 30.65px;
    margin: 32px 0;
}

.card p {
    color: rgb(128, 128, 128);
    font-size: 15.09px;
    font-weight: 500;
    line-height: 28.3px;
    margin-bottom: 38px;
}

#card01 {
    border: 0.94px solid rgb(222, 245, 255);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

#card02 {
    border: 0.94px solid rgb(255, 244, 220);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

#card03 {
    border: 0.94px solid rgb(242, 232, 255);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card a {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

.np-slide {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.np-slide button {
    background-color: orange;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.np-slide button:hover {
    background-color: rgba(255, 166, 0, 0.568);
}

/* Stories section */
.articles {
    background-image: url("../assets/bg.png");
}

.st-cards {
    margin: 50px 0;
}

.card-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

.img {
    border-radius: 16px 16px 0px 0px;
}

.card-box {
    background-color: #fff;
    border-radius: 16px;
    position: relative;
}

.box-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0px 20px;
}

.box-text h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 38.35px;
}

.box-text h2 {
    font-size: 15.34px;
    font-weight: 700;
    line-height: 28.76px;
}

.box-text p {
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
}

.card-head {
    font-size: 3rem;
}

.card-box2 {
    background-color: #fff;
    border-radius: 16px;
    position: relative;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 25px;
    padding: 20px;
}

#l-btn {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.date {
    background-color: #54c1f2;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 12px;
    margin: 16px;
    position: absolute;
    left: 0;
    top: 56%;
}

.date-sm {
    background: rgb(149, 178, 38);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 12px;
    margin: 16px;
    position: absolute;
    left: 0;
    top: 56%;
}

/* footer */
footer {
    width: 1440px;
    margin: 0 auto;
    background: rgb(1, 172, 253);
}

.f-info {
    padding: 100px 0;
    color: white;
    display: flex;
    justify-content: space-around;
}

.f-info p {
    margin-top: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about li {
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}

.about a {
    text-decoration: none;
    color: white;
    gap: 20px;
}

@media screen and (max-width: 390px) {
    header {
        width: 390px;
    }

    .navbar {
        justify-content: space-between;
        margin: 0 25px;
    }

    nav {
        display: none;
    }

    .logo img {
        width: 42px;
        height: 42px;
    }

    .logo span {
        display: none;
    }

    .contact-btn {
        display: none;
    }

    .navmenu {
        display: block;
        cursor: pointer;
    }

    .navmenu img {
        width: 22.5px;
        height: 15px;
    }

    main {
        padding: 0 16px;
        width: auto;
    }

    .hero {
        flex-direction: column-reverse;
        width: 100%;
    }

    .hero-img {
        width: 100%;
    }

    .hero-img img {
        width: 100%;
    }

    .hero-title {
        width: 100%;
        text-align: center;
    }

    .hero-title h1 {
        font-size: 2rem;
        line-height: 40px;
        margin-bottom: 18px;
        font-weight: 700;
    }

    .hero-title p {
        margin-bottom: 24px;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
    }

    h2 {
        text-align: center;
        font-size: 26px;
        font-weight: 700;
        line-height: 33px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .cards {
        display: flex;
        gap: 28px;
        margin: 20px 0;
    }

    .card {
        width: auto;
    }

    .img {
        border-radius: 16px 16px 0px 0px;
        width: 100%;
    }

    footer {
        width: 390px;
    }

    .box-text {
        padding: 20px;
        font-size: 9.13px;
        font-weight: 700;
    }

    .f-info {
        flex-direction: column;
        margin-left: 50px;
        gap: 30px;
    }

    .card-box2 {
        width: 173.09px;
        height: 179.59px;
    }

    .date-sm {
        background: rgb(149, 178, 38);
        color: #fff;
        padding: 8px 12px;
        border-radius: 12px;
        margin: 16px;
        position: absolute;
        left: 0;
        top: 39%;
        font-size: 9.13px;
        font-weight: 500;
        line-height: 17.12px;
    }

    .np-slide {
        display: none;
    }

    .card1 {
        display: none;
    }

    .card-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: auto;
        height: auto;
        margin: 0px 10px;
    }

    .f-info p {
        margin-top: 25px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        width: 357px;
    }
}

@media (min-width: 391px) and (max-width: 570px) {
    header {
        width: 570px;
    }

    .navbar {
        justify-content: space-between;
        margin: 0 25px;
    }

    nav {
        display: none;
    }

    .logo img {
        width: 42px;
        height: 42px;
    }

    .logo span {
        display: none;
    }

    .contact-btn {
        display: none;
    }

    .navmenu {
        display: block;
        cursor: pointer;
    }

    .navmenu img {
        width: 22.5px;
        height: 15px;
    }

    main {
        padding: 0 16px;
        width: auto;
    }

    .hero {
        flex-direction: column-reverse;
        width: 100%;
    }

    .hero-img {
        width: 100%;
    }

    .hero-img img {
        width: 100%;
    }

    .hero-title {
        width: 100%;
        text-align: center;
    }

    .hero-title h1 {
        font-size: 2rem;
        line-height: 40px;
        margin-bottom: 18px;
        font-weight: 700;
    }

    .hero-title p {
        margin-bottom: 24px;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
    }

    h2 {
        text-align: center;
        font-size: 26px;
        font-weight: 700;
        line-height: 33px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .cards {
        display: flex;
        gap: 28px;
        margin: 20px 0;
    }

    .card {
        width: auto;
    }

    .img {
        border-radius: 16px 16px 0px 0px;
        width: 100%;
    }

    footer {
        width: 570px;
    }

    .box-text {
        padding: 20px;
        font-size: 9.13px;
        font-weight: 700;
    }

    .f-info {
        flex-direction: column;
        margin-left: 50px;
        gap: 30px;
    }

    .date-sm {
        background: rgb(149, 178, 38);
        color: #fff;
        padding: 8px 12px;
        border-radius: 12px;
        margin: 16px;
        position: absolute;
        left: 0;
        top: 50%;
        font-size: 9.13px;
        font-weight: 500;
        line-height: 17.12px;
    }

    .np-slide {
        display: none;
    }

    .card1 {
        display: none;
    }

    .card-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: auto;
        height: auto;
        padding: 0;
    }

    .f-info p {
        margin-top: 25px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        width: 357px;
    }
}

@media (min-width: 571px) and (max-width: 1130px) {
    header {
        width: auto;
    }

    .logo img {
        width: 42px;
        height: 42px;
    }

    .logo span {
        display: none;
    }

    .navmenu img {
        width: 22.5px;
        height: 15px;
    }

    main {
        padding: 0 16px;
        width: auto;
    }

    .hero {
        width: 100%;
    }

    .hero-img {
        width: 100%;
    }

    .hero-img img {
        width: 100%;
    }

    .hero-title {
        width: 100%;
        text-align: center;
    }

    .hero-title h1 {
        font-size: 2rem;
        line-height: 40px;
        margin-bottom: 18px;
        font-weight: 700;
    }

    .hero-title p {
        margin-bottom: 24px;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
    }

    h2 {
        text-align: center;
        font-size: 26px;
        font-weight: 700;
        line-height: 33px;
    }

    footer {
        width: 1130px;
    }

    .box-text {
        padding: 20px;
        font-size: 9.13px;
        font-weight: 700;
    }

    .f-info {
        flex-direction: column;
        margin-left: 50px;
        gap: 30px;
    }

    .date-sm {
        background: rgb(149, 178, 38);
        color: #fff;
        padding: 8px 12px;
        border-radius: 12px;
        margin: 16px;
        position: absolute;
        left: 0;
        top: 62%;
        font-size: 9.13px;
        font-weight: 500;
        line-height: 17.12px;
    }

    .f-info p {
        margin-top: 25px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        width: auto;
    }
    .card-box{
        display: none;
    }

}